body {
  background-color: ffe6e6;
  font-family: 'Carter One', cursive;
  text-align: center;
  margin: auto;
}

h1 {
    color: salmon;
    font-family: 'Carter One', cursive;
    font-size: 50px;
    background-image: url("https://www.larutadelsorigens.cat/wallpic/full/3-31011_watercolor-desktop-pastel-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 6%;
}

p {
  font-size: 20px;
}

.Like {
  float: left;
  margin-left: 30%;
  padding-bottom: 10%;
  font-family: 'Farro'
}

.Nope {
  float: right;
  margin-right: 30%;
  padding-bottom: 10%;
  font-family: 'Anton'
}

#submit {
  border-radius: 25px;
  background: #b4ecb4;
  border: 2px solid #b4ecb4;
  width: 100px;
  height: 40px;
  font-size: 20px;
  vertical-align: middle;
}

#submit2 {
  border-radius: 25px;
  background: #ffcccc;
  border: 2px solid #ffcccc;
  width: 100px;
  height: 40px;
  font-size: 20px;
  vertical-align: middle;
}
